# OS Files
.DS_Store
Thumbs.db
ehthumbs.db

# Editor & IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# Logs & temp
*.log
*.tmp

# Backups & export dumps
*.bak
backup*.json
tablero_backup*.json
